*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: none;
    margin-top: 2em;
}


.background {
    fill: none;
    pointer-events: all;
}

.feature {
    cursor: pointer;
}

.feature.active {
    fill: orange;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.5px;
    vector-effect: non-scaling-stroke;
}

.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;
}

div.tooltip {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font: 12px sans-serif;
    background: #333;
    color: #eee;
    border: 0px;
    border-radius: 8px;
  }

div.tooltip span.header {
    font-weight: bold;
}

.actual-cases-line {
    fill: none;
    stroke: rgba(70, 130, 180, 0.4);
    stroke-width: 1;
}

.smoothed-cases-line {
    fill: none;
    stroke: rgba(70, 130, 180);
    stroke-width: 1.5;
    opacity: 0.0;
}

.predicted-cases-median-line {
    fill: none;
    stroke: rgb(70, 130, 180);
    stroke-width: 1.5;
}

.predicted-cases-area {
    fill: rgb(70, 130, 180);
    opacity: 0.4;
}


.projected-cases-median-line {
    fill: none;
    stroke: rgb(139, 0, 0);
    stroke-width: 1.5;
}

.projected-cases-area {
    fill: rgb(139, 0, 0);
    opacity: 0.4;
}

.rt-line {
    fill: none;
    stroke: rgba(70, 130, 180);
    stroke-width: 1.5;
}

.rt-inner-area {
    fill: rgb(70, 130, 180);
    opacity: 0.4;
}

.rt-outer-area {
    fill: rgb(70, 130, 180);
    opacity: 0.2;
}

.rt-horizontal-line {
    stroke-width: 2;
    stroke: #333;
    stroke-dasharray: 5;
}

#chart {
    margin-top:2em;
}

span.info-heading {
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: sans-serif;
}

.active {
}

h1 {
    font-size: 30px;
    margin-bottom: 0em;
}

h3 {
    font-size: 24px;
    margin-bottom: 0em;
}

h3 small {
    font-size: 50%;
    display: block;
    margin-bottom: 0em;
}


.info-row {
    font-size: 14px;
    width: 250px;
}

.column {
    margin-top: 0em;
    width: 250px;
}

.row {
    margin-top: 0em;
    width: 520px;
}

#sub-heading {
    font-size: 0.9em;
    margin-left: 0.25em;
}

#cases-title {
}

#estimates-title {
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: #F1F3F3;
    stroke: #333;
    stroke-width: 5px;
}

.hover-line {
    stroke: #333;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}
